<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
			<!-- <ion-item-group>
				<ion-item-divider color="light">A</ion-item-divider>
				<ion-item>Angola</ion-item>
				<ion-item>Argentina</ion-item>
			</ion-item-group>
			<a href="">Sign In</a> -->
			<h3>&copy; Algorisys Technologies Pvt. Ltd.</h3>
</ion-content>
