<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style="font-size:20px;">Login</ion-title>
  </ion-navbar>

</ion-header>

<!-- Neha -->
<ion-content padding text-center>
    <h1>Login</h1>
    <hr/>
    <br/>
    
    <ion-item>
        <ion-label style="font-size:20px;" color="primary" stacked>Username</ion-label>
        <ion-input type="email" [(ngModel)] = "username" placeholder="Enter Username"></ion-input>
    </ion-item>
    <br/>
    <ion-item>
        <ion-label style="font-size:20px;" color="primary"  stacked>Password</ion-label>
        <ion-input type="password" [(ngModel)] = "password" placeholder="Enter Password"></ion-input>
    </ion-item>
    <br/>
    <br/>
  <button ion-button large (click) = "loginUser()" >Login</button>


</ion-content>



