<!--
  Generated template for the WordTestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar >
    <ion-title style="font-size:20px;">Spell Feature</ion-title>
  </ion-navbar>

</ion-header>

  <ion-content padding text-center>
    <h3 style="font-size:35px;">Learn</h3>
    <hr/>
    <br/>
    
    <ion-item text-center>
    <br/><br/><br/>
        <!-- <ion-label color="primary"  stacked></ion-label> -->
		    <ion-slides loop="true" style="width:auto;height:50px" (ionSlideDrag)="slideChanged()" >
				  <ion-slide *ngFor="let word of wordList">
				    	<p style="font-size:40px;color: #000;">{{word}}</p>
				  </ion-slide>
			</ion-slides>
		<!-- <input  ion-button (click) = "responsiveVoice.speak('Hello World')" type="button" value="Play" /> --><br/><br/>
        <button ion-button large (click)="textToSpeech()">Play</button>
  			<button ion-button large (click)="repeatWord()"><ion-icon name="repeat"></ion-icon></button>

    </ion-item>
    <br/>
  



</ion-content>
