<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style="font-size:20px;">Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>

    <ion-item>
    <ion-label style="font-size:20px;" color="primary" stacked>Username</ion-label>
    <ion-input type="text" [(ngModel)] = "username"  placeholder="Username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="font-size:20px;" color="primary" stacked>Password</ion-label>
    <ion-input type="password" [(ngModel)] = "password"  placeholder="Password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="font-size:20px;" color="primary" stacked>Confirm Password</ion-label>
    <ion-input type="password" [(ngModel)] = "confirm_password"  placeholder="Re-enter Password"></ion-input>
  </ion-item>

  <ion-item *ngIf="password != confirm_password">
                      <ion-label class="alertMessage" color="danger">
                        Password does not match.
                      </ion-label>
  </ion-item>

<br>
<br>
  <button ion-button large (click) = "signup()" >SignUp</button>
</ion-content>