<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Settings" tabIcon="settings"></ion-tab>
  <!-- <ion-tab [root]="tab3Root" tabTitle="List" tabIcon="list"></ion-tab> -->
  <!-- <ion-tab [root]="tab4Root" tabTitle="Logout" tabIcon="profile"></ion-tab> -->
</ion-tabs>
<ion-icon name="settings"></ion-icon>