<!--
  Generated template for the AddwordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title color="blue" >Add/Edit Word</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding text-center>
	<h2 text-center>Word</h2>
	<ion-item>
	    <ion-input type="text" [(ngModel)] = "newWord" placeholder="Enter Any Word"></ion-input>
	  </ion-item>
	  <br>
	  <br>
	  <br>
	    <button ion-button round (click) = "addNewWord()" >SUBMIT</button>
</ion-content>