<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
<h2>Coming Soon</h2>
</ion-content>
