<!--
  Generated template for the FirstPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style="font-size:25px;">Register/ Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding text-center>
  <h1 style="font-size:35px;">Easy Spell</h1>
<br/>
<br/><br/><br/>
  <button ion-button icon-right large (click) = "openRegister()" >Register</button>
  <!-- <br/> -->
  <br/><br/>
  <button ion-button icon-right large (click)="openLoginPage()">Sign In</button>
</ion-content>
