<ion-header>
  
  <ion-navbar>
    <ion-title center style="font-size:20px;">Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click) = "logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <!-- <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Send To...</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
 -->
  
</ion-header>

<ion-content text-center padding>
<br/><br/><br/><br/><br/><br/>
 <button ion-button round large (click) = "openWordList()" >Words List</button>
 <br/><br/>
  <button ion-button round large (click) = "openWordTest()" >Learn Spellings</button>

</ion-content>
