<!--
  Generated template for the WordListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style="font-size:20px;">WordList</ion-title>
  </ion-navbar>

</ion-header>

<ion-content text-center padding>
    <ion-item-group>
          <ion-item *ngFor = "let word of wordList;let i = index" #Content>
            <!-- <ion-icon name="plane" item-start color="danger"></ion-icon> -->
            <ion-label style="font-size:23px;" >{{word}}</ion-label>
            
            <ion-badge (click) = "updateItem(word)" item-end>Edit</ion-badge>
            <ion-badge color="secondary" (click) = "deleteItem(word)" item-end>Delete</ion-badge>
            <!-- <ion-toggle (ionChange)="updateItem(word)" ion-toggle-text="Edit;offline" color="secondary" checked="false">Edit</ion-toggle> -->
            <!-- <ion-toggle [(ngModel)]="item.completed" (ionChange)="updateItem(item)" checked="false"></ion-toggle> -->

          </ion-item>
          <ion-item>
        
          </ion-item>
    </ion-item-group>

  <button ion-button round large (click) = "addWord()" >ADD WORDS</button>

</ion-content>



