<!--
  Generated template for the LearningMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>learningMenu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center padding>

 <button ion-button round>Words List</button><br><br>
  <button ion-button round>Learn Spellings</button>

</ion-content>